In [1]:
import numpy as np
import pandas as pd

In [ ]:
players = pd.read_csv('players.csv')

data_2018 = pd.read_csv('ipl_2018_data.csv')

data_2017 = pd.read_csv('ipl_2017_data.csv')

data_2016 = pd.read_csv('ipl_2016_data.csv')

data_2015 = pd.read_csv('ipl_2015_data.csv')

data_2014 = pd.read_csv('ipl_2014_data.csv')

price_2018 = pd.read_csv('players_price_2018.csv')

price_2017 = pd.read_csv('players_price_2017.csv')

price_2016 = pd.read_csv('players_price_2016.csv')

price_2015 = pd.read_csv('players_price_2015.csv')

price_2014 = pd.read_csv('players_price_2014.csv')

In [ ]:
dfinal_2014 = (players.merge(data_2014, on="Player", how = 'left')).merge(price_2014,on="Player",how='left')

In [ ]:
dfinal_2014.head()

In [ ]:
dfinal_2014.to_csv('final_2014.csv')

In [ ]:
dfinal_2015 = (players.merge(data_2015, on="Player", how = 'left')).merge(price_2015,on="Player",how='left')
dfinal_2015.shape

In [ ]:
dfinal_2015.to_csv('final_2015.csv')

In [ ]:
dfinal_2016 = (players.merge(data_2016, on="Player", how = 'left')).merge(price_2016,on="Player",how='left')
dfinal_2016.shape

In [ ]:
dfinal_2016.to_csv('final_2016.csv')

In [ ]:
dfinal_2017 = (players.merge(data_2017, on="Player", how = 'left')).merge(price_2017,on="Player",how='left')
dfinal_2017.shape

In [ ]:
dfinal_2017.to_csv('final_2017.csv')

In [ ]:
dfinal_2018 = (players.merge(data_2018, on="Player", how = 'left')).merge(price_2018,on="Player",how='left')
dfinal_2018.shape

In [ ]:
dfinal_2018.to_csv('final_2018.csv')

In [2]:
data_2014 = pd.read_csv('final_2014.csv')

for i in range(len(data_2014['Price'])):
    data_2014['Price'][i] = data_2014['Price'][i].replace(',', '')
    data_2014['Price'][i] = int(data_2014['Price'][i])

In [21]:
data_2014.drop(columns='Unnamed: 0', axis = 1, inplace=True)

In [233]:
data_2015 = pd.read_csv('final_2015.csv')
for i in range(len(data_2015['Price'])):
    data_2015['Price'][i] = data_2015['Price'][i].replace(',', '')
    data_2015['Price'][i] = int(data_2015['Price'][i])

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [301]:
x_2014 = data_2014.drop(columns='Price', axis = 1)
y_2014 = data_2014['Price']
x_2015 = data_2015.drop(columns='Price', axis = 1)
y_2015 = data_2015['Price']
type(y_2015)

pandas.core.series.Series

In [302]:
equation_2015 = pd.Series([])
for a in range(len(y_2015)):
    if y_2015[a] > y_2014[a]:
        equation_2015[a] = 1
    else:
        equation_2015[a] = 0

In [303]:
equation_2016 = pd.Series([])
for a in range(len(y_2016)):
    if y_2016[a] > y_2015[a]:
        equation_2016[a] = 1
    else:
        equation_2016[a] = 0

In [304]:
equation_2017 = pd.Series([])
for a in range(len(y_2017)):
    if y_2017[a] > y_2016[a]:
        equation_2017[a] = 1
    else:
        equation_2017[a] = 0

In [305]:
data_2016 = pd.read_csv('final_2016.csv')
for i in range(len(data_2016['Price'])):
    data_2016['Price'][i] = data_2016['Price'][i].replace(',', '')
    data_2016['Price'][i] = int(data_2016['Price'][i])
    
data_2017 = pd.read_csv('final_2017.csv')
for i in range(len(data_2017['Price'])):
    data_2017['Price'][i] = data_2017['Price'][i].replace(',', '')
    data_2017['Price'][i] = int(data_2017['Price'][i])

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [306]:
x_2016 = data_2016.drop(columns='Price', axis = 1)
y_2016 = data_2016['Price']
x_2017 = data_2017.drop(columns='Price', axis = 1)
y_2017 = data_2017['Price']

In [307]:
x = pd.concat([x_2014, x_2015], ignore_index=True)

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [308]:
x = pd.concat([x, x_2016], ignore_index=True)

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [309]:
x = pd.concat([x, x_2017], ignore_index=True)

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [310]:
x1 = x.drop(columns='Unnamed: 0', axis = 1)

In [311]:
y = pd.concat([y_2014, y_2015], ignore_index=True)

In [312]:
y = pd.concat([y, y_2016], ignore_index=True)

In [313]:
y = pd.concat([y, y_2017], ignore_index=True)

In [244]:
#y_new = pd.concat([equation_2015, equation_2016], ignore_index=True)

In [158]:
# for i in range(len(y)):
#     y[i]= np.log1p(y[i])
# for i in range(len(y_2017)):
#     y_2017[i]= np.log1p(y_2017[i])

/Users/jitu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [316]:
x1

,100s,4w,50s,5w,6s,Matches,Player,Points,Runs,Wickets
0,0,0,2,0,23,16,Sunil Narine,379.5,357,17
1,2,0,2,0,35,15,Shane Watson,318.0,555,6
2,0,0,8,0,28,17,Kane Williamson,273.0,735,0
3,0,0,1,0,11,13,Hardik Pandya,269.5,260,18
4,1,0,3,0,34,16,Ambati Rayudu,256.5,602,0
5,0,0,0,0,5,17,Shakib Al Hasan,237.0,239,14
6,0,0,4,0,16,14,Suryakumar Yadav,228.5,512,0
7,0,0,4,0,14,16,Shikhar Dhawan,226.5,497,0
8,0,0,2,0,16,16,Dinesh Karthik,223.5,498,0
9,0,0,0,0,0,14,Umesh Yadav,223.0,0,20
10,0,0,6,0,30,12,AB de Villiers,217.5,480,0
11,0,0,4,0,18,14,Virat Kohli,213.0,530,0
12,0,0,0,0,0,14,Jasprit Bumrah,205.0,0,17
13,0,0,0,0,0,14,Trent Boult,203.5,0,18
14,0,0,3,0,30,16,MS Dhoni,200.0,455,0
15,0,0,4,0,12,15,Suresh Raina,179.5,445,0
16,0,0,0,0,1,15,Piyush Chawla,175.0,27,14
17,0,0,0,0,0,14,Yuzvendra Chahal,175.0,0,12
18,1,0,3,0,27,11,Chris Gayle,174.5,368,0
19,0,0,0,0,4,16,Ravindra Jadeja,169.5,89,11
20,0,0,0,0,1,15,Jaydev Unadkat,169.0,49,11
21,0,0,0,0,0,12,Bhuvneshwar Kumar,163.0,13,9
22,0,0,0,0,0,12,Sandeep Sharma,163.0,0,12
23,0,0,1,0,21,16,Robin Uthappa,161.0,351,0
24,0,0,4,0,21,14,Shreyas Iyer,158.5,411,0
25,0,0,0,0,0,11,Mitchell McClenaghan,158.0,0,14
26,0,0,3,0,19,15,Sanju Samson,154.0,441,0
27,0,0,0,0,9,12,Glenn Maxwell,126.0,169,5
28,0,0,2,0,13,13,Karun Nair,125.5,301,0
29,0,0,1,0,5,15,Ajinkya Rahane,125.0,370,0
...,...,...,...,...,...,...,...,...,...,...
230,0,0,2,0,12,14,Manish Pandey,132.0,396,0
231,0,0,1,0,4,11,Mandeep Singh,81.5,188,0
232,0,0,0,0,0,1,Harshal Patel,18.5,0,3
233,0,0,0,0,1,14,Mohit Sharma,151.0,51,13
234,0,0,0,0,11,14,Axar Patel,218.0,227,15
235,0,0,2,0,8,16,Parthiv Patel,170.5,395,0
236,0,0,0,0,0,6,Dhawal Kulkarni,48.0,0,3
237,0,0,0,0,0,2,Faf du Plessis,2.5,0,0
238,0,0,0,0,0,12,Imran Tahir,162.0,0,18
239,0,0,2,0,18,11,Brendon McCullum,155.5,320,0
240,0,0,0,0,1,5,Mitchell Johnson,88.0,20,7
241,0,1,1,0,6,9,Chris Morris,184.0,154,12
242,0,0,1,0,8,14,Wriddhiman Saha,108.0,234,0
243,0,0,3,0,22,17,Kieron Pollard,179.5,385,0
244,0,0,2,0,19,13,Aaron Finch,141.5,300,0
245,0,0,0,0,0,3,Mayank Agarwal,10.0,26,0
246,0,1,0,0,2,9,Karn Sharma,147.5,49,13
247,0,0,0,0,0,7,Shahbaz Nadeem,73.0,0,6
248,0,0,0,0,4,10,Deepak Hooda,53.0,78,2
249,0,0,4,0,7,16,Gautam Gambhir,192.0,498,0
250,0,0,2,0,8,12,Yuvraj Singh,116.0,252,1
251,0,0,0,0,0,1,Vinay Kumar,13.0,0,2
252,0,0,1,0,9,11,Manan Vohra,94.0,229,0
253,0,0,0,0,3,8,Stuart Binny,51.0,78,4
254,0,0,0,0,4,5,David Miller,29.0,83,0
255,0,0,0,0,7,12,Pawan Negi,193.0,144,16
256,0,0,0,0,0,1,Anureet Singh,7.0,15,0
257,0,0,1,0,10,13,Kedar Jadhav,122.5,267,0
258,0,0,0,0,1,1,Ankit Sharma,9.5,25,0
259,0,0,0,0,3,14,Naman Ojha,30.5,79,0

In [297]:
y.head()

0    95000000
1    95000000
2     6000000
3     1000000
4    40000000
Name: Price, dtype: object

In [298]:
x['Points'] = x['Points']/max(x['Points'])

In [299]:
x.head()

   100s  4w  50s  5w  6s  Matches           Player    Points  Runs  Wickets
0     0   0    2   0  23       16     Sunil Narine  1.000000   357       17
1     2   0    2   0  35       15     Shane Watson  0.837945   555        6
2     0   0    8   0  28       17  Kane Williamson  0.719368   735        0
3     0   0    1   0  11       13    Hardik Pandya  0.710145   260       18
4     1   0    3   0  34       16    Ambati Rayudu  0.675889   602        0

In [189]:
#x.drop(columns='Player',axis =1,inplace=True)

In [246]:
x.shape

(130, 74)

In [200]:
from sklearn.linear_model import LinearRegression
ols = LinearRegression()
ols.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [247]:
x_2017.drop(columns=['Unnamed: 0'],axis =1, inplace=True)

In [248]:
x_2017 = pd.get_dummies(x_2017)

In [249]:
x_2017.drop(columns='Unnamed: 0', axis = 1, inplace=True)

KeyError: "labels ['Unnamed: 0'] not contained in axis"

In [250]:
x_2017.head()

,Matches,Points,Runs,100s,50s,6s,Wickets,4w,5w,Player_AB de Villiers,...,Player_Suryakumar Yadav,Player_Tim Southee,Player_Trent Boult,Player_Umesh Yadav,Player_Vinay Kumar,Player_Virat Kohli,Player_Wriddhiman Saha,Player_Yusuf Pathan,Player_Yuvraj Singh,Player_Yuzvendra Chahal
0,16,298.0,224,0,1,10,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,88.0,71,0,0,1,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,87.5,256,0,2,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,17,193.5,250,0,0,20,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,35.5,91,0,1,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
import seaborn as sns
x["Points"] = np.log1p(x["Points"])


#Check the new distribution 
sns.distplot(x['Points'])

TypeError: cannot convert the series to <class 'float'>

In [137]:
x["Points"] = np.log1p(x["Points"])
x_2017["Points"] = np.log1p(x_2017["Points"])

In [168]:
#y_pred_train = ols_model.predict(x_2017)
y_pred = ols.predict(x_2017)

In [169]:
import numpy as np
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score


print("Test Data")
print('Ordinary Least Squares rmse: {}'.format(sqrt(mean_squared_error(y_2017,y_pred))))

#accuracy_score(y_true, y_pred, normalize=False)

Test Data
Ordinary Least Squares rmse: 96.18346161843498

In [174]:
back = np.expm1(y_pred[0])
back

-1.0

In [251]:
from sklearn import tree
def DT(depth):
    dt = tree.DecisionTreeRegressor( max_depth = depth)
    dt_model = dt.fit(x, y_new)
    y_pred = dt_model.predict(x_2017)
    
    print('depth : {} ----  Decision Tree rmse: {}'.format(depth,(sqrt(mean_squared_error(equation_2017,y_pred)))))

In [252]:
for depth in [1,2,5,10,20,None]:
    DT(depth)

depth : 1 ----  Decision Tree rmse: 0.585532712743112
depth : 2 ----  Decision Tree rmse: 0.6036620034487962
depth : 5 ----  Decision Tree rmse: 0.643076218340677
depth : 10 ----  Decision Tree rmse: 0.7451341414454286
depth : 20 ----  Decision Tree rmse: 0.8038369524685004
depth : None ----  Decision Tree rmse: 0.7942098153317112

In [253]:
y_pred

array([-1.45864425e+02, -4.43517129e+01, -2.12584000e+01, -9.43336201e+01,
        3.45336383e+00,  1.63765369e+01, -1.32276764e+00, -5.67009510e+01,
       -3.77816824e+01, -1.53492024e+02, -2.01491347e+01, -2.76521990e+01,
       -1.78877763e+02, -3.65384667e+01, -3.10798238e+01, -6.25093569e+01,
       -4.05618928e+01, -1.22221154e+02, -1.68915063e+01, -5.99547255e+01,
       -2.14211837e+02, -2.24582766e+02, -1.53267725e+02, -5.79217362e+01,
       -3.69920071e+01, -1.71697687e+02, -4.56241829e+01, -1.07163782e+02,
       -3.18679560e+01, -3.93563331e+01, -3.57416644e+01, -9.28055853e+01,
       -7.55738830e+01, -1.34395914e+01, -1.41412028e+01, -4.04075389e+01,
       -1.62480935e+01, -1.03506983e+01, -1.17692516e+02, -1.59308055e+02,
       -5.12637106e+01, -1.72390183e+01,  1.74803844e+01, -1.52997082e+02,
       -4.18326746e+01, -5.61422869e+01, -1.24621989e+02, -2.49337765e+01,
       -5.11471150e+01, -3.77301136e+01,  1.30353016e+01, -1.16720269e+02,
       -4.49992704e+01, -1.56884794e+01, -6.07172125e+01, -3.37148247e+01,
        1.53680395e-01, -2.04934210e+01, -2.94490256e+01,  6.39417566e+00,
       -1.56482280e+02,  1.23698647e+01, -3.04996561e+01,  1.05734629e+01,
        3.41604892e+00])

In [276]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

def train_RF(n_est, depth):
    rf = RandomForestClassifier(n_estimators=n_est, max_depth=depth, n_jobs=-1)
    rf_model = rf.fit(x, y_new)
    y_pred1 = rf_model.predict(x_2017)
    print('depth : {}, n_estimators : {}  ---- Random Forest Regression rmse: {}'.format(depth, n_est, (sqrt(mean_squared_error(equation_2017,y_pred1)))))
    return y_pred1

In [282]:
for n_est in [100, 200, 500, 1000]:
    for depth in [2, 5, 10 , 20]:
        b= train_RF(n_est, depth)

depth : 2, n_estimators : 100  ---- Random Forest Regression rmse: 0.723240570679579
depth : 5, n_estimators : 100  ---- Random Forest Regression rmse: 0.723240570679579
depth : 10, n_estimators : 100  ---- Random Forest Regression rmse: 0.7442084075352507
depth : 20, n_estimators : 100  ---- Random Forest Regression rmse: 0.7442084075352507
depth : 2, n_estimators : 200  ---- Random Forest Regression rmse: 0.723240570679579
depth : 5, n_estimators : 200  ---- Random Forest Regression rmse: 0.723240570679579
depth : 10, n_estimators : 200  ---- Random Forest Regression rmse: 0.7337993857053428
depth : 20, n_estimators : 200  ---- Random Forest Regression rmse: 0.7544738360147217
depth : 2, n_estimators : 500  ---- Random Forest Regression rmse: 0.723240570679579
depth : 5, n_estimators : 500  ---- Random Forest Regression rmse: 0.723240570679579
depth : 10, n_estimators : 500  ---- Random Forest Regression rmse: 0.723240570679579
depth : 20, n_estimators : 500  ---- Random Forest Regression rmse: 0.7442084075352507
depth : 2, n_estimators : 1000  ---- Random Forest Regression rmse: 0.723240570679579
depth : 5, n_estimators : 1000  ---- Random Forest Regression rmse: 0.723240570679579
depth : 10, n_estimators : 1000  ---- Random Forest Regression rmse: 0.723240570679579
depth : 20, n_estimators : 1000  ---- Random Forest Regression rmse: 0.7544738360147217

In [283]:
equation_2017

0     0
1     0
2     1
3     1
4     0
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
14    1
15    0
16    0
17    1
18    0
19    0
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    0
     ..
35    1
36    1
37    0
38    0
39    1
40    1
41    0
42    0
43    0
44    0
45    0
46    1
47    1
48    0
49    1
50    0
51    1
52    1
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
61    1
62    1
63    1
64    1
Length: 65, dtype: int64

In [284]:
b

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [285]:
from sklearn.metrics import classification_report

print(classification_report(equation_2017,b))

             precision    recall  f1-score   support

          0       0.45      0.90      0.60        31
          1       0.00      0.00      0.00        34

avg / total       0.22      0.43      0.29        65

In [275]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100, max_depth=5)
rfc_model = rfc.fit(x, y)
y_pred = rfc_model.predict(x_2017)

ValueError: Unknown label type: 'unknown'